<!DOCTYPE html>
<html lang="en" class="no-js theme--default">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/themes/mit/favicon.ico" type="image/vnd.microsoft.icon" />

    <title>Page Not Found | MIT - Massachusetts Institute of Technology</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/themes/mit/assets/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/themes/mit/assets/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/themes/mit/assets/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/themes/mit/assets/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/themes/mit/assets/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/themes/mit/assets/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/themes/mit/assets/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/themes/mit/assets/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/themes/mit/assets/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/themes/mit/assets/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/themes/mit/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/themes/mit/assets/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/themes/mit/assets/favicon/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/themes/mit/assets/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="/themes/mit/assets/css/main.css?pdkdyv" media="all" />
<!--<![endif]-->

<!--[if lt IE 9]>
<link rel="stylesheet" href="/themes/mit/assets/css/ie-7-8.css?pdkdyv" media="all" />
<![endif]-->

    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113637181-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-1592615-11', {
    'custom_map': {'dimension1': 'Search Term'},
    'anonymize_ip': true
  });
  gtag('config', 'UA-1592615-30 ', {
    'custom_map': {'dimension1': 'Search Term'},
    'anonymize_ip': true
  });  
</script>
       </head>
  <body class="page-404">
    <a href="#main" class="skip-to-content">Skip to content ↓</a>
    <div id="notification"><notification v-if="isHomepage"></notification></div>

    
      


    
<nav class="site-nav">
  <div class="site-nav__width">

    <a class="site-nav__logo-link" href="/">
      <svg width="85" viewBox="0 0 73 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="mit-logo site-nav__logo">
    <polygon class="logo-color--primary" points="52.785 8.063 72.785 8.063 72.785 0.063 52.785 0.063"></polygon>
    <polygon class="logo-color--primary" points="13.785 26.063 21.785 26.063 21.785 0.063 13.785 0.063"></polygon>
    <polygon class="logo-color--primary" points="26.785 38.063 34.785 38.063 34.785 0.063 26.785 0.063"></polygon>
    <polygon class="logo-color--primary" points="0.785 38.063 8.785 38.063 8.785 0.063 0.785 0.063"></polygon>
    <polygon class="logo-color--primary" points="52.785 38.063 60.785 38.063 60.785 13.063 52.785 13.063"></polygon>
    <polygon class="logo-color--primary" points="39.785 8.063 47.785 8.063 47.785 0.063 39.785 0.063"></polygon>
    <polygon class="logo-color--secondary" points="40 38 48 38 48 13 40 13"></polygon>
</svg>      <h1 class="visually-hidden">Massachusetts Institute of Technology</h1>
    </a>

                            <ul class="site-nav__links">
                             
                            
          <li class="site-nav__link-item menu-item--collapsed">
            <a href="/education" class="site-nav__link js-nav-item menu-item--collapsed" data-drupal-link-system-path="node/11">Education</a>
                      </li>
                             
                            
          <li class="site-nav__link-item menu-item--collapsed">
            <a href="/research" class="site-nav__link js-nav-item menu-item--collapsed" data-drupal-link-system-path="node/12">Research</a>
                      </li>
                             
                            
          <li class="site-nav__link-item">
            <a href="/innovation" class="site-nav__link js-nav-item" data-drupal-link-system-path="node/13">Innovation</a>
                      </li>
                             
                            
          <li class="site-nav__link-item">
            <a href="/admissions-aid" class="site-nav__link js-nav-item" data-drupal-link-system-path="node/14">Admissions + Aid</a>
                      </li>
                             
                            
          <li class="site-nav__link-item">
            <a href="/campus-life" class="site-nav__link js-nav-item" data-drupal-link-system-path="node/15">Campus Life</a>
                      </li>
                             
                                                
          <li class="site-nav__link-item">
            <a href="http://news.mit.edu/" target="_blank" class="site-nav__link js-nav-item">News</a>
                      </li>
                             
                            
          <li class="site-nav__link-item">
            <a href="/alumni" class="site-nav__link js-nav-item" data-drupal-link-system-path="node/17">Alumni</a>
                      </li>
                             
                            
          <li class="site-nav__link-item">
            <a href="/about" class="site-nav__link js-nav-item" data-drupal-link-system-path="node/16">About MIT</a>
                      </li>
        
        <li class="site-nav__link-item site-nav__link-item--more">
          <span class="site-nav__link">More <span class="site-nav__arrow">↓</span></span>
          <ul class="site-nav__more-list js-nav-more">
                                                      
                                                                    
                                                                    
                                                                    
                            <li class="site-nav__more-link-item">
                <a href="/admissions-aid" class="site-nav__more-link" data-drupal-link-system-path="node/14">Admissions + Aid</a>
              </li>
                                                                    
                            <li class="site-nav__more-link-item">
                <a href="/campus-life" class="site-nav__more-link" data-drupal-link-system-path="node/15">Campus Life</a>
              </li>
                                                                                                
                            <li class="site-nav__more-link-item">
                <a href="http://news.mit.edu/" target="_blank" class="site-nav__more-link">News</a>
              </li>
                                                                    
                            <li class="site-nav__more-link-item">
                <a href="/alumni" class="site-nav__more-link" data-drupal-link-system-path="node/17">Alumni</a>
              </li>
                                                                    
                            <li class="site-nav__more-link-item">
                <a href="/about" class="site-nav__more-link" data-drupal-link-system-path="node/16">About MIT</a>
              </li>
                                    </ul>
        </li>

        </ul>
          
    
    <div class="site-nav__buttons">
        <button class="site-nav__mobile-trigger js-mobile-nav-trigger"><span class="js-mobile-nav-trigger-text">Menu</span> <span class="site-nav__arrow js-mobile-nav-trigger-arrow">↓</span></button>
        
        
          <a class="site-nav__search-trigger js-mobile-search js-search-trigger" href="/search">
            <span class="visually-hidden">Search</span>
            <svg class="icon--search-mag site-nav__search-mag" width="26"
  viewBox="0 0 23 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" stroke="currentColor" stroke-width="1.5" class="icon--search-mag">
    <g stroke="currentColor" stroke-width="1.5" fill="none">
      <circle cx="9.20757329" cy="8.99160695" r="8.50646589"></circle>
      <path d="M14.8522097,14.6362434 L20.7140392,20.4980728" id="Line-4"></path>
    </g>
</svg>          </a>        

            </div>    

  </div>
</nav>





  <section class="page-404-search-mod">
    <!-- Autosuggest UI handled by Vue.js components -->
<div class="es-search-mod" id="search-app"
  @keydown.up.exact.prevent="onUp"
  @keydown.down.exact.prevent="onDown"
  @keydown.tab.exact="onTab"
  @keydown.shift.tab.exact="onShiftTab"
  :class="{
    'search-has-quick-links': searchMode
  }">
  <div class="es-search__overflow">
    <div class="es-search__width js-search-terms">
      <form method="GET" action="/search" id="es-search-form" class="es-search-form js-es-search-form">
                 <label for="es-search-form-input" class="es-search__label js-search-trigger">Uh oh, looks like we couldnt find what you were looking for! <br>Try searching for something else!</label>
                <div class="es-search__box-mod">
          <svg width="30" viewBox="0 0 23 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" stroke="currentColor" stroke-width="1.5" class="icon--search-mag search-box__mag">
            <g stroke="currentColor" stroke-width="1.5" fill="none">
              <circle cx="9.20757329" cy="8.99160695" r="8.50646589"></circle>
              <path d="M14.8522097,14.6362434 L20.7140392,20.4980728" id="Line-4"></path>
            </g>
          </svg>
          <div class="es-search__box-trigger js-search-trigger">
          </div>
          <input
            type="query"
            v-model="query"
            v-on:click="onFocus"
            v-on:keydown="onKeydown"
            v-on:keyup="onInput"
            ref="searchInput"
            class="es-search__box js-search-input"
            placeholder="What are you looking for?"
            id="es-search-form-input"
            autocomplete="off"
            name="q">
          <button
            v-on:click="resetQuery"
            v-if="searchMode"
            ref="resetButton"
            class="es-search__reset js-search-reset"
            type="reset"
            for="es-search-form"
            aria-label="reset">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" class="form-reset">
              <circle fill="red" cx="13" cy="13" r="13"/>
              <path class="st1" d="M9.9 9.9l6.5 6.5M16.4 9.9l-6.5 6.5"/>
            </svg>
          </button>
          <div class="es-search__results-mod" v-if="query.length">
            <result-list ref="results" :query="query"></result-list>
            <button class="es-search__submit js-search-focusable" type="submit" form="es-search-form">
              <span class="es-search__submit__text">See More Results</span>
              <svg viewBox="0 0 22 18" width="22" height="18" xmlns="http://www.w3.org/2000/svg" class="arrow-left es-search__submit__arrow">
                <g  fill="none" stroke="currentColor" stroke-width="1.5">
                  <path d="M9.058 1.219L1.203 9.074l7.855 7.855M1.5 9.074h20.005"/>
                </g>
              </svg>
            </button>
            <p class="es-search__feedback"><a class="es-search__feedback-link" href="/feedback">Suggestions or feedback?</a></p>
          </div>

        </div>
      </form>

      <suggested-links v-if="!query.length"></suggested-links>
    </div>
  </div>

  <wallpaper-image v-if="searchMode"></wallpaper-image>
</div>
  </div>  



  <canvas class="chalkboard" id="chalkboard">

  </canvas>
  <svg class="page-404__svg" viewBox="0 0 221 95" xmlns="http://www.w3.org/2000/svg">
    <path d="M71.874 58.028V77.78h-9.81v15.38h-20.55V77.515H.152V61.342L40.454 1.948h21.61v56.08h9.81zm-30.36 0V29.657l-18.03 28.37h18.03zm68.807 36.59c-23.73 0-33.807-20.284-33.807-46.799 0-26.912 10.209-47.461 34.072-47.461 23.731 0 33.94 20.549 33.94 47.196 0 26.913-10.474 47.064-34.205 47.064zm.398-18.958c9.148 0 12.992-11.799 12.992-27.575 0-15.38-3.712-28.637-13.522-28.637-8.75 0-12.728 10.474-12.728 27.443 0 17.5 4.243 28.77 13.258 28.77zm110.17-17.632V77.78h-9.81v15.38h-20.55V77.515h-41.363V61.342l40.302-59.394h21.61v56.08h9.81zm-30.36 0V29.657l-18.03 28.37h18.03z" fill="currentColor" fill-rule="evenodd"/>
  </svg>



    
    <script src="/themes/mit/assets/js/modernizr.js?pdkdyv"></script>

<!--[if gt IE 8]><!-->
<script src="/themes/mit/assets/js/main.js?pdkdyv"></script>
<!--<![endif]-->

<!--[if lt IE 9]>
<script src="/themes/mit/assets/js/ie-7-8.js?pdkdyv"></script>
<![endif]-->

    <script type='text/javascript'>
    (function(){var g=function(e,h,f,g){
    this.get=function(a){for(var a=a+"=",c=document.cookie.split(";"),b=0,e=c.length;b<e;b++){for(var d=c[b];" "==d.charAt(0);)d=d.substring(1,d.length);if(0==d.indexOf(a))return d.substring(a.length,d.length)}return null};
    this.set=function(a,c){var b="",b=new Date;b.setTime(b.getTime()+6048E5);b="; expires="+b.toGMTString();document.cookie=a+"="+c+b+"; path=/; "};
    this.check=function(){var a=this.get(f);if(a)a=a.split(":");else if(100!=e)"v"==h&&(e=Math.random()>=e/100?0:100),a=[h,e,0],this.set(f,a.join(":"));else return!0;var c=a[1];if(100==c)return!0;switch(a[0]){case "v":return!1;case "r":return c=a[2]%Math.floor(100/c),a[2]++,this.set(f,a.join(":")),!c}return!0};
    this.go=function(){if(this.check()){var a=document.createElement("script");a.type="text/javascript";a.src=g+ "&t=" + (new Date()).getTime();document.body&&document.body.appendChild(a)}};
    this.start=function(){var a=this;window.addEventListener?window.addEventListener("load",function(){a.go()},!1):window.attachEvent&&window.attachEvent("onload",function(){a.go()})}};
    try{(new g(100,"r","QSI_S_SI_etUj4JHBLwq9fIV","https://znbsgdeu4idqsr8db-mit.siteintercept.qualtrics.com/WRSiteInterceptEngine/?Q_SIID=SI_etUj4JHBLwq9fIV&Q_LOC="+encodeURIComponent(window.location.href))).start()}catch(i){}})();
    </script><div id='SI_etUj4JHBLwq9fIV' style="margin:0"></div>
  </body>
</html>
